<div class="row">
  <div class="col-md-8">

        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Creación de PIN de retiro de fondos</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div><!-- /.box-tools -->
          </div><!-- /.box-header -->
          <div class="box-body">
                 <div class="row">
                    <div class="col-md-12">
                        <p>Este código será requerido cada vez que solicite una operación de extracción de fondos</p>
                    </div>
                 </div>
                 <div class="row">
                  
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="exampleInputPassword1">Escriba la contraseña</label>
                            <input type="password" class="form-control" 
                            id="exampleInputPassword1"
                             placeholder=""
                             ng-model="productora.pin_retiro_cuenta">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="exampleInputPassword1">Repita la contraseña</label>
                            <input type="password" class="form-control" 
                            id="exampleInputPassword1"
                             placeholder=""
                             ng-model="productora.pin_retiro_cuenta_confirm">
                          </div>
                      </div>
                 </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
  </div>


   
        <div class="col-md-4">
            <div class="box box-solid box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Información de la competencia</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" ><i class="glyphicon glyphicon-info-sign"></i></button>
              </div><!-- /.box-tools -->
            </div>
              <div class="box-body">
                  
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non pulvinar dolor. Aenean vel accumsan nisl. Morbi pretium felis ac dui rhoncus imperdiet nec at diam. Vestibulum vulputate aliquet sapien, a hendrerit nulla sagittis non. Curabitur eget lectus massa. Integer fringilla ipsum sit amet nisi placerat tempus. Nullam sed magna sed nunc sagittis commodo. Maecenas semper ullamcorper massa in venenatis.
              </div>
          </div>
        </div>
      </div>
      </div>